body {
    background-color: #f0f0f0;
}
#login-link {
    cursor: pointer; 
}
a {
    text-decoration: none !important;
    color: inherit !important;
}

a:hover, a:focus {
    text-decoration: none !important;
    color: inherit !important;
}